# Ignore audio files
*.wav
*.flac
*.mp3

# Ignore huge Kaldi output directories
exp/
mfcc/
data/local/dict/lexiconp.txt

# Python caches
__pycache__/

# Huge data files and Kaldi engine
data/
kaldi-master/